li {
    color: blue;
}

td {
    border: 1px solid black;
}

main p a {
    color: green;
    font-weight: bold;
}

#linia-do-wyroznienia {
    color: red;
}

.fajna-linia {
    text-decoration: underline;
}

#demo-kontener {
    margin: 100px;
    width: 100px;
    height: 100px;
    background-color: yellow;

    transform: skew(40deg);
    transition: background-color 2s;
}
