<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep rowerowy</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Sklep rowerowy "Korba"</h1>
        <h2>U nas znajdziesz najlepsze rowery (i korby)</h2>
        <nav>
            <a href="/">Strona Główna</a>
            <a href="/produkty">Produkty</a>
            <a href="kontakt.html">Kontakt</a>
        </nav>
        <div style="clear: both;"></div>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <div style="clear: both;"></div>
    <footer>
        Wszystkie prawa zastrzezone "KorbaSzop s.c."
    </footer>
</body>
</html>